@media (min-width:1600px) /* lg*/ {
   div.bhoechie-tab-menu div.list-group>a{
    font-size: 1.2vw;
   }

}

@media (min-width:1200px) /* lg*/ {
    .row_pc{
        margin-right: -15px;
        margin-left: -15px;
    }
    .container{
        width: 1200px;
    }
    .container-fluid-fix{
      padding: 0px 75px;
    }
    .col-71{
      width:71.25%;
    }
    .col-29{
      width: 28.75%;
    }
    .col-16{
      width:20%
    }
    .col-lg-125{
      width:12.5%;
    }
    .col-lg-200{
      width: 20%;
    }
    .box-fix h2 b{
      font-size: 1.5vw;
    }
    .box-fix h2 span{
      font-size: 1.2vw;
    }

}

@media (min-width:992px) and (max-width:1199px) /* md*/{
    .list_link_hd{
        float: left !important;
    }
    .logo_pc{
        font-size: 1.1rem;
    }
    .col-lg-125{
      width:12.5%;
    }
    .container-fluid-fix{
      padding: 0px 75px;
    }
    .col-71{
      width:71.25%;
    }
    .col-29{
      width: 28.75%;
    }
    .report-giaothong .box_report > h3{
      font-size: 13px;
    }
    .item_nb{
      font-size: 29px;
    }
    
}

@media (min-width:768px) and (max-width:991px) /* sm*/{
    .sc_header_menu.sticky-header{
        position: relative !important;
    }
    .logo_pc{
        font-size: 1.1rem;
    }
    .logo_pc{
      text-align: center;
    }
    .menu_header_top{
      float: none;
      text-align: center;
    }
    .menu_header_top li{
      float:none;
      display: inline-block;
    }
    .list_message_news li a{
      font-size: 16px;
    }
    .list_message_news li{
      margin-bottom: 10px;
    }
    .social_news li img{
        width: 30px;
        height: auto;
    }
    .col-71{
      width:71.25%;
    }
    .col-29{
      width: 28.75%;
    }
    .list_report li{
      display: block;
      width: 100%;
    }
}

@media (max-width:767px) /* xs*/{
    .sc_header_menu.sticky-header{
        position: relative !important;
    }
    .logo_pc{
        font-size: 1.1rem;
    }
    .logo_pc{
      text-align: center;
    }
    .menu_header_top{
      float: none;
      text-align: center;
    }
    .menu_header_top li{
      float:none;
      display: inline-block;
    }
    .logo_pc img{
        display: none;
    }
    .social_news li img{
        width: 30px;
        height: auto;
    }

    .box_system img{
      max-height:inherit;
    }
    .list_report li{
      display: block;
      width: 100%;
    }
}
@media (max-width:480px) {


}

@media (max-width:480px) {
    .col-480-12{
        width: 100% !important;
    }
    .col-480-6{
        width: 50% !important;
    }
    .hidden-480{
        display: none !important;
    }
    .visible-480{
        display: block !important;
    }

}


.visible-480{
    display: none;
}
