body {
    overflow-x: hidden;
    background: #f0f2f5;
}
.bread-cumbs {
    background: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
}

.page-title {
    color:#fff;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin: 0;
    line-height: 72px;
}

.bread-cumbs > ol {
    background: transparent !important;
    margin: 0;
    color: white !important;
}
.breadcrumb-item >a {
    color: white !important;
}

.breadcrumb-content .breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: '>>\00a0';
    color: white;
}
.breadcrumb-content .breadcrumb a{
  color: white !important;
}

.breadcrumb-content .breadcrumb li{
  color: white !important;
}
.bg-danger-ex {
    background: rgb(220,53,69);
    border-radius: 0;
    padding: 20px 30px;
    width: 100%;
}
.bg-danger-ex-sub {
    background: rgb(212, 241, 255);
    border-radius: 0;
    padding: 20px 30px;
    width: 100%;
    color: #4f4f4f;
}
.bg-app-header {
  background: rgb(220,53,69);
  border-radius: 0;
  padding: 10px;
  color: white;
}
/* .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  } */

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241, 241, 241);
    color: rgb(44, 120, 228);
    margin: 5px 0px;
    height: 120px;
    /*border: 1px solid lightgrey;*/
    box-shadow: 1px 2px 1px 2px rgba(0,0,0,0.5);
    border: 0;
    user-select: none;
    cursor: pointer;
}

.menu-item-active {
    background: rgb(230, 230, 230);
}
.menu-item:hover {
    opacity: 0.8;
    background: rgba(49, 189, 228, 0.796);
    color: white;
    transition: 0.3s;
    transform: scale(1.02);
}
.menu-item > i {
    font-size: 48px;
}
.menu-item > span {
    font-size: 16px;
    margin: 10px 10px 0px 10px;
    text-align: center;

}


.main-item {
    background: white;
    margin: 5px;
    height: 100%;

    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid lightgrey;
}

.main-item > span {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px;
    color: #2d2d2d;
    font-weight: 600;
    width: 100%;
}
.main-column {
    padding: 0;
    margin-top: -5px;
    margin-bottom: 12px;
}

.display-center {
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.carousel-indicators {
    top: -10px;
}

.tintuc-item >span{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    width: 100%;
    height: 80px;
}

.margin-top {

}

.baocao-item {
    margin-top: 30px;
    border: 1px solid lightgrey;
    width: 100%;
}

.baocao-item >img {
    max-width: 100%;
    max-height: 100%;
    height: 120px;
    margin:auto;
    display: block;
}
.baocao-item >div {
    bottom: 0;
    width: 100%;
    align-items: center;
    background: white;
    padding: 0px 10px;
}

.baocao-item[data-link]:hover{
    cursor: pointer;
}
.baocao-item[data-link="#"]:hover{
    cursor: default;
}
a[href="#"]:hover,a[href="javascript:void(0)"]:hover{
    cursor: default;
}
.baocao-item >div>h3{
    bottom: 0;
    color: rgb(162, 10, 10);
    font-size: 36px;
}



.background-1 {
    background: #f0d4d495;
}
.background-2 {
    background: #f8f6b695;
}
.background-3 {
    background: #c0fd9a95;
}
.background-4 {
    background: #f8f9fa;
}
.background-5 {
    background: #98c9f595;
}
.background-6 {
    background: #d6212759;
}
.background-7 {
    background: #e9f6f6;
}
.background-8 {
    background: #97f0d495;
}
.background-9 {
    background: #91a1ee95;
}
.background-10 {
    background: #fbdbbc94;
}
.noivu-item a {
    color: #fff;

}
.noivu-item >img{
    width: 60px;
    height: 60px;
    margin: 10px auto;
}
.noivu-item {
    /*background: rgba(247, 9, 9, 0.78);*/
    background: #fff;
    color: #fff;
    min-height: 130px;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px 1px #e4e7ed;
    transition: all .12s ease-out;
    min-height: 170px;
    position: relative;
}
.noivu-item h2,.noivu-item span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 18px;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

.pad-17 {
    padding-top: 17px;
}

.menu-item-2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    height: 60px;
    background: white;
    border-bottom: 1px solid lightgrey;
    border-top: 4px solid #f7a63d;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    user-select: none;
    color:#2d2d2d;
}

.menu-item-2 >div {
    background: #f7a63d;
    width:60px;
    height: 55px;
    padding: 15px;
}
.menu-item-2 >span {
    font-size: 30px;
    margin-left: 20px;
    text-transform: uppercase;
}
.menu-item-2 >div>i {
    font-size: 32px;
    color:white;
}


.menu-sub-item-2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    height: 110px;
    background: white;
    user-select: none;
}

.menu-sub-item-2 >div {
    background: #39486d;
    height:100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-sub-item-2 >span {
    font-size: 20px;
    margin-left: 20px;
    text-transform: uppercase;
}
.menu-sub-item-2 >div>i {
    font-size: 24px;
    color:white;
}

.active-hover:hover {
    box-shadow: 0 0 36px #d8dde5;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.03);
}
.active-link {
    background: #faf5749a;
}

.table >thead>tr>td {
    font-weight: 600;
}


.ttdieuhanh-box > div {
    background: rgba(0, 0, 0, 0.51);
    width:100%;
    top: 180px;
    padding: 40px;
    color: white;
    font-size: 32px;
    opacity: 0;
    transform: translateY(-20px);
    width:95%;
}

.ttdieuhanh-box:hover {
    transition: 0.5s;
}
.ttdieuhanh-box:hover >div {
    opacity: 1;
    transition: 0.5s;
    transition-timing-function: ease-in;
    transform: translateY(0px);

}
.card-bold {
    margin-top: 0;
    font-size: 30px;
}
.card-bold.green {
    color:#28D094;
}
.card-bold.red {
    color: rgb(220,53,69);
}
.card-header {
    background-color: inherit;
}

#image-map-noivu-container .imp-wrap {
    margin: 0 auto;
}
.dukhach {
    padding: 30px 10px 0;
}
.dukhach .content-wrapper {
    background: #fff;
    min-: 43.8vw;
    padding: 15px;
}

.dukhach .title {
    padding: 0 0 10px;
    margin: 0;
}

.dukhach .content-wrapper .mien_bac h2 {
    margin-top: 0;
}

.dukhach .content-wrapper h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: #234;
}

.dukhach .content-wrapper .item {
    color: #666;
    position: relative;
    display: inline-block;
    transition: all .12s ease-out;
}

.dukhach .content-wrapper .owl-item:hover .item {
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.15);
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
}

.dukhach .content-wrapper .item h3 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.dukhach .content-wrapper .item p {
    font-size: 12px;
    margin: 0;
}

.dukhach .content-wrapper .item-tit {
    color: #fff;
    background-color:rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px 6px;
}

.dukhach .content-wrapper .item-image {
    background-position: center;
    background-size: cover;
}

.link-preview {
    padding: 0 !important;
}

.link-preview a {
    color: #333;
}

.link-preview-header, .link-preview-footer {
    padding: 7px;
}

.link-preview-header u {
    font-size: 14px;
    line-height: 17px;
    display: block;
}

.link-preview-footer b {
    display: block;
    line-height: 15px;
    font-size: 13px;
    margin-bottom: 3px;
}

.link-preview-footer p, .link-preview-footer i {
    color: #999999;
    font-size: 11px;
}

.link-preview-footer p {
    margin-bottom: 0;
}

.link-preview img {
    max-width: 100%;
}

.dukhach .content-wrapper .item img {
    visibility: hidden;
}
.jcarousel .red {
    color: #bb0312;
}

.content-wrapper:not(.not) .title{
    margin-top: 15px;
    color: #FF9966;
}

.content-wrapper div.buttons .btn {
    border-radius: 0;
}
.content-wrapper div.buttons .btn.red {

    background: #bb0312;
    border-color: #bb0312;
}
.dukhach .content-wrapper .item-image.spec {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.custom-filter .filter-item:first-child select {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-filter .filter-item:nth-child(2) select, .custom-filter .filter-item:nth-child(3) select {
    border-right: 0;
    border-radius: 0;
}

.custom-filter .filter-item:last-child select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    border-radius: 0;
    line-height: 38px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.t-card-book {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    transition: all .3s ease;
}

.t-card-book-img {
    margin-left: 14px;
    float: left;
    margin-top: -21px;
    width: 120px;
    max-width: 120px;
    height: 176px;
    box-shadow: 0 0 10.32px 1.68px rgba(0,0,0,.2);
}

.book-bg-1 {
    width: 120px;
    height: 176px;
    background-size: 120px 176px;
}

.book-bg-1 img {
    height: 100%;
}

.view-b-icon {
    width: 40px!important;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    transition: all .2s ease-in-out;
    opacity: 0;
    transform: scale(0);
    background: url(../img/sotacphamdadangky/book-icon.png) no-repeat;
    background-size: 40px 40px!important;
}

.t-card-book:hover .view-b-icon {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.t-card-book:hover {
    border: 1px solid #1BA085;
}

.t-card-book .relative {
    position: relative;
}

.t-card-book-infor {
    width: -moz-calc(100% - 135px);
    width: -webkit-calc(100% - 135px);
    width: calc(100% - 135px);
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 200px;
    overflow: hidden;
}

.t-card-book-infor-title h3, h3.t-card-book-infor-title {
    font-size: 13px;
    line-height: 18px;
    color: #3a4752;
    margin-bottom: 3px;
    margin-top: 9px;
    height: 36px;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.t-card-book-infor-author {
    color: #888;
}

.t-card-book-infor-description {
    color: #738797;
    font-size: 11px;
    line-height: 22px;
    height: 66px;
    -webkit-line-clamp: 3;
}

.t-break-line {
    height: 1px;
    float: left;
    background-color: #f0f0f0;
    background: -webkit-linear-gradient(left,#f0f0f0,transparent);
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 13px;
}

a.t-card-detail-link {
    color: #fff;
    font-size: 13px;
    position: absolute;
    bottom: 13px;
    right: 14px;
    width: 79px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity .2s linear;
    border-radius: 2px!important;
}

.bg-waka, .dropdown-item.active, .dropdown-item:active {
    background-color: #1ba085;
}

h3.t-card-book-infor-author {
    margin: 0;
}

.t-card-book-infor-author a {
    color: #888;
    font-size: 11px;
}

.t-card-book:hover a.t-card-detail-link {
    visibility: visible;
    opacity: 1;
}

.white-text, a.white-text:focus, a.white-text:hover {
    color: #fff;
}

.t-card-detail-link:hover {
    background-color: #048A70;
}

.gd-btn-group .btn {
    border-radius: 0;
    padding: 12px 24px;
    margin-bottom: 30px;
}

.chart-widget {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.break-line-chart-box {
    position: absolute;
    right: 0;
    top: 30px;
    bottom: 30px;
    border-right: 2px solid #ddd;
}

body{
    background:#eee;
}
.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.main-box .table a.table-link.danger {
    color: #e74c3c;
}
.main-box .label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.main-box .user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.main-box .user-list tbody td .user-name {
    font-size: 14px;
    font-weight: 600;
}
.main-box .user-list tbody td .star {
    color: orange;
}
.main-box a {
    color: #3498db;
    outline: none!important;
}
.main-box .user-list tbody td img {
    width: 62px;
    margin-right: 10px;
}

.main-box .table thead tr th {
    border-top: 0;
    text-transform: uppercase;
    font-size: 13px;
}
.main-box .table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.main-box .table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.main-box .table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

.status-badge {
    cursor: pointer;
    border-radius: 50%;
    background-color: #24b314;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -15px;
    top: 0;
    -webkit-box-shadow: 0px 0px 0px 2px #fff;
    box-shadow: 0px 0px 0px 2px #fff;
}

.aicee-widget:hover {
    transform: none !important;
}

.online-badge {
    border-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 0 15px;
}

.online-badge span {
    color: #24b314;
    display: inline-block;
    font-size: 18px;
    margin-left: 5px;
}

.question-list {
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.question-list li {
    border-bottom: 1px solid #BBDEFB;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}
.question-list li:last-child {
    border-bottom: 0;
}
.gutter-10 {
    margin: 0 -5px;
}
.gutter-10 > [class ^= "col"] {
    padding: 0 5px;
}
.nhaql-wrapper a {
    text-decoration: none;
}

.shadow {
    box-shadow: 3px 3px 3px 2px #a5a5a5
}

.shadow-md {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
}

.shadow-lg {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
}

.chat-icon {
    background: #fff;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.list-link a {
    color: #fff;
    border-radius: 4px;
    background-color: #77aaff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    padding: 10px;
    height: 140px;
    width: 100%;
    margin-bottom: 30px;
    transition: all .12s ease-out;
}

.list-link img {
    display: block;
    margin: 0 auto 10px;
    width: 50px;
}

.list-link a:hover {
    box-shadow: 0 0 36px #d8dde5;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.03);
}
.maps .buttons button:nth-child(2) {
    background: #ff6b68;
}
.maps .buttons button:nth-child(1) {
    background: #ff9966;
}
.maps .buttons button{
    border: 0;
    border-radius: 0;
}
.maps .buttons {

    position: absolute;
    top: 5px;
    right: 5px;
}
.slide-up {
    border: 1px solid #c9215e;
    font-size: 14px;
    height: 390px;
    padding: 20px 10px;
    background: white;
}
.noivu-item {
    /* background: rgb(220,53,69); */
    background: #e38c00;
    color: #fff;
    min-height: 150px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 10px;
    border: solid 3px red;
}
